*{
  margin: 0;
  padding: 0;
  font-family: "Gabarito";
}

#navbar{
  font-size: 1.2rem;
  background-color: #0802A3;
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  top: 0;
}


#navbar ul{
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
}

#navbar ul li{
  cursor: pointer;
  padding: 0.5rem;
}

#navbar ul li a:hover{
  color: #FFCD4B;
  flex: auto;
}

#navbar a{
  color: white;
  text-decoration: none
}

.welcome-section{
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 75vh;
  background-color: #FF4B91;
  padding-top: 25vh;
}

.welcome-section, .about-page{
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #FF4B91;
  padding-top: 25vh;
}

.welcome-section h1{
  color: #0802A3;
  font-size: 50px;
  font-weight: 900;
  padding-top: 25vh;
}

#about-text{
  padding-top: 0px;
}

.welcome-section h2{
  display: block;
  font-weight: 600;
}

#project-title, a{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

#project-title{
  user-select: none;
}

.project-tile{
  display: flex;
  gap: 50px;
  padding-bottom: 225px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

#project-header{
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  background-color: #0802A3;
  padding: 20px;
  border-radius: 15px;
  margin: 10% 20%;
}

#projects img{
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 230px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.project{
  background-color: #FF7676;
  padding-bottom: 40px;
  color: white;
  border-radius: 40px;
  transition: ease-in-out .3s;
}

.project:hover{
  border: 1px solid rgba(#F2F4F8, 0);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: ease-in-out .3s;
}


#project-link{
  font-weight: 400;
  text-decoration: none;
}

#profile-section{
  background-color:  #FF4B91;
  height: 25vh;
  text-align: center;
  padding-top: 75px;
  color: white;
}

#profile-section h2{
  font-size: 40px;
  padding-bottom: 60px;
}

#profile-section a{
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: white;
  transition: ease-in-out .3s;
}

#profile-section a:hover{
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #0802A3;
  transition: ease-in-out .3s;
}

#about-desc{
  display: flex;
  justify-content: center;
}

#about-desc p{
  width: 40%;
  text-align: center;
  font-weight: 400;
  line-height: 2;
  padding: 20px;
  padding-bottom: 50px;
}

#about-pfp img{
  object-fit: cover;
  width: 50%;
  border-radius: 400px;;
}

@media (max-width: 320px){
  }
    #navbar ul{
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  #project-header{
    text-align: center;
}

@media (min-width:769px){
}
#navbar{
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
}

#project-header{
text-align: center;
}

